@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100&display=swap');

.logo {
  margin-top: 10px;
  float: left;
  width: 220px;
  height: 70px;
  margin-left: 50px;
  background-image: url('../images/Delivery-logo.png');
  background-size: cover;
  cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 1;
  width : 100%;
}

.menu{
  font-size: 18px;
  /* font-family: 'Tourney', cursive; */
  /* font-weight: bold; */
  /* font-family: 'Zen Loop', cursive; */
  font-family: 'Lobster', cursive;
}